---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
const pageTitle = "Astro Test Site 1 Home"
---

<BaseLayout pageTitle={pageTitle} isHomePage={false}>
<h2>asp</h2>
</BaseLayout>
