---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
const { isHomePage = false } = Astro.props;
---

<header class={`floating-header ${isHomePage ? "homepage-header" : ""}`}>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
